@import url("fonts/BigCaslon-ItalicSwash/stylesheet.css");
*, *::after, *::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: 'BigCaslon ItalicSwash';
    src: url('BigCaslon-ItalicSwash.woff2') format('woff2'),
        url('BigCaslon-ItalicSwash.woff') format('woff');
    font-weight: normal;
    font-display: swap;
    color: rgb(44, 43, 43);
    background-color: #efc7c2;
    overflow-y: auto; 
    min-height: 100vh; 
}


.bg-img {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url(/images/space.jpg) no-repeat fixed center;
    background-size: cover;
    animation: scaling 60s linear infinite;
}

@keyframes scaling {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(2);
    }
    100% {
        transform: scale(1);
    }
}

.bg-img::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
}

a {
    text-decoration: none;
    color: white;
}

ol {
    list-style-type: none;
    display: flex;
}

.container {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    height: 100vh;
}

.Book {
    position: absolute;
    animation: movement 60s linear infinite;
}

@keyframes movement {
    0% {
        width: 20rem;
        top: 20%;
        right: 10%;
        transform: rotate(0deg);
    }
    50% {
        width: 50rem;
        top: 30%;
        right: -20%;
        transform: rotate(180deg);
    }
    100% {
        width: 20rem;
        top: 20%;
        right: 40%;
        transform: rotate(360deg);
    }
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 0;
}

header>a {
    font-weight: 700;
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 3px;
}

header ol li {
    font-weight: 600;
    padding: 0 20px;
    opacity: 0.6;
}

header ol li:first-child {
    opacity: 1;
}

h1 {
    font-size: 69px;
}

main {
    padding-top: 5%;
}

main>p {
    max-width: 50%;
    opacity: 0.75;
    font-size: 13px;
}

.d-flex {
    display: flex;
    margin-top: 20px;
    margin-bottom: 50px;
}

.d-flex a {
    margin-right: 50px;
    display: flex;
    font-size: 20px;
    align-items: center;
    text-transform: uppercase;
}

.d-flex a span {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    margin-right: 5px;
}

.d-flex a:first-child span {
    background: maroon;
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.d-flex a:last-child span {
    height: 20px;
    width: 20px;
    font-size: 7px;
    border: 2px solid white;
    border-radius: 50%;
}

ol.info {
    padding-top: 5%;
}

ol.info li {
    flex: 0 0 30%;
}

ol.info li h5 {
    margin-bottom: 10px;
}

ol.info li h4 {
    margin-bottom: 10px;
}

ol.info li p {
    padding-right: 20%;
    opacity: 0.75;
}

footer {
    background-color: #222;
    color: #fff;
    font-size: 14px;
    bottom: 0;
    position: fixed;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 999;
}

footer p {
    margin: 5px 0;
}

footer i {
    color: red;
    margin: 0 10px;
}

footer a {
    color: greenyellow;
    text-decoration: none;
}

.flip-card-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 20px;
}

.flip-card {
    background-color: transparent;
    width: 300px;
    height: 200px;
    perspective: 1000px;
    margin: 20px;
}

.flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.flip-card-front {
    background-color: #ffe5d4;
    color: black;
}

.flip-card-back {
    background-color: #5297ac;
    color: white;
    transform: rotateY(180deg);
}

h5 {
    font-size: 24px;
    margin-bottom: 10px;
}

h4 {
    font-size: 20px;
    margin-bottom: 20px;
}

p {
    font-size: 16px;
    text-align: center;
}
*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


nav {
    height: 10vh;
    width: 70vw;
    min-width: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: auto;
  }
  a {
    position: relative;
    text-decoration: none;
    .your-style {
    font-family: 'Codec Cold Trial';
    font-weight: bold;
    font-style: normal;
}
    color: #ffffff;
    font-size: 25px;
    letter-spacing: 0.5px;
    padding: 0 10px;
  }
  a:before,
  a:after {
    content: "";
    position: absolute;
    height: 3px;
    width: 0;
    background-color: #e9a5dd;
    transition: 0.5s;
  }
  a:after {
    left: 0;
    bottom: -10px;
  }
  a:before {
    right: 0;
    top: -10px;
  }
  a:hover {
    color: #ffffff;
  }
  a:hover:after,
  a:hover:before {
    width: 100%;
  }